@import 'general.css';

h1, h2 {
    font-weight: bold;    
    margin-bottom: 2rem;    
    color: var(--color-primario);
}

::placeholder,
select:invalid {
    font-style: italic;
    font-size: 0.9rem;
}

select option  {
    font-style: normal;
    font-size: 1rem;
}

label {
    font-weight: bold;
}


#configuracion-curso .menu .container {
    margin-top: 0 !important;    
}

#configuracion-curso .menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 1rem;
    background-color: var(--background-1);
    border-bottom: 1px solid var(--gris-1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--background-2);

}

#configuracion-curso .menu .btn {    
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    margin: 0 0.25rem;    
}

#configuracion-curso .menu .btn.active {
    background-color: var(--color-primario);
    border-color: var(--color-primario);    
    box-shadow: none;    
}

#configuracion-curso .menu .buscar {
    display: inline-block;
    color: var(--color-primario);    
    margin: 0;
    margin-left: 0.5rem;
    float: right;
}

#configuracion-curso .menu .buscar input[type=number] {
    display: inline;
    width: 3rem;
    font-size: 0.8rem;  
    height: 1.5rem;
    text-align: center;
}

#configuracion-curso .container {
    margin-top: 6rem;
}

#configuracion-curso #numTest {    
    width: 4rem;    
    text-align: center;
}

#configuracion-curso #unidades {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

#configuracion-curso #unidades .numUnidad {
    display: inline-block;
    width: 100%;    
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#configuracion-curso .unidad {
    margin: 2rem 0;
}

#configuracion-curso #unidades .unidad .content {
    border: 1px solid var(--color-primario);
    padding: 2rem;    
    background-color: var(--background-2);
    border-radius: 3px;    
}

#configuracion-curso #unidades .unidad .content input[type="text"] {
    width: 94%;    
    display: inline-block;
}

#configuracion-curso #unidades .unidad .content .apartados {
    margin-top: 4rem;
}

#configuracion-curso #unidades .unidad .content .ejercicios { 
    margin-top: 1.5rem;
}

#configuracion-curso #unidades #insertar-unidad,
#configuracion-curso #unidades .insertar-apartado { 
    padding: 0;    
}

#configuracion-curso #unidades .eliminar-unidad,
#configuracion-curso #unidades .eliminar-apartado {
    color: var(--color-primario);
}

#configuracion-curso .content-bottom {
    text-align: center;    
    height: auto;
    position: fixed; 
    bottom: 1rem;
    right: 1rem;    
}

#configuracion-curso .content-bottom button {    
    display: block;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
    line-height: 0;    
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#configuracion-curso .content-bottom input[type=file] {
    display: none;
}

#modal-descargar-scorm ul {
    list-style: none;
    text-align: left;
    margin-left: -3rem;    
}

#modal-descargar-scorm ul li {
    display: inline-block;
}

/*
.alert {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
}
*/


