@import 'root.css';
@import 'componentes.css';

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;   
    width: 100%;
    height: 100%;
    background-color: var(--background-3);
}

a,
video,
audio,
button:not(.btn-primary),
input:focus {
    outline:0 !important;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--color-primario);
}

#configuracion-curso .custom-checkbox,
#configuracion-curso .content-select {
    display: inline-block;
    margin-right: 1rem;
}

.btn-link {
    color: var(--color-primario);
}

.btn-link:hover {
    color: var(--color-primario-hover);
}

.btn-outline-primary {
    border-color: var(--color-primario);
    color: var(--color-primario);
}

.btn-outline-primary:not(:disabled):not(.disabled):active, 
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover {    
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    box-shadow: none;    
}

.btn-primary {
    background-color: var(--color-primario);
    border: none;
}

.btn-primary:disabled {
    background-color: var(--gris-2);
    
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle {
    background-color: var(--color-primario-hover);
    border-color: var(--color-primario-hover);    
    box-shadow: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

.alert {
    text-align: left;
}







/* BARRA DE SCROLL PARA EL MAIN */
html, body {
    /*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color: gray rgba(0, 0, 0, 0);    
    scrollbar-width: thin;    
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 8px;    
}

::-webkit-scrollbar-button:increment,#iyc_container_screen::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar:horizontal {
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    /*border-radius: 20px;*/
    /*border: 2px solid #f1f2f3;*/
}

::-webkit-scrollbar-track {
    /*border-radius: 10px;  */
}


/* OCULTAR LAS FLECHAS DEL INPUT NUMBER */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


