:root {

    /* Colores principales */
    --color-primario: #128585;
    --color-primario-hover: #225A5A;    

    /* Grises */
    --gris-1: #E0E1E2;
    --gris-2: #6c757d;

    /* Transparencias */
    --background-1: rgba(255,255,255, 0.8);
    --background-2: rgba(255,255,255,0.72);
    --background-3: #f8f8f8;

    /* Sombras */
    --sombra-1: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    /* Otros */
    --focus: #80bdff;

}

