body[dark=true] {      
      background-color:var(--color-fondo-dark-1);
      color: var(--color-text-dark);           
}

body[dark=true] h1, body[dark=true] h2, body[dark=true] h3, body[dark=true] h4, body[dark=true] h5, body[dark=true] h6 {      
      font-weight: normal;
      color:var(--color-primario-dark);      
}

body[dark=true] label {
      font-weight: normal;
      color: var(--color-text-dark);        
}

body[dark=true] input,
body[dark=true] input:focus {
      background-color:var(--color-fondo-dark-3);
      border-color: hsla(0, 0%, 18%, 1);
      box-shadow: var(--sombra-dark-1);
      color: var(--color-text-dark);        
}

body[dark=true] .btn-link {
      color: var(--color-primario-dark); 
}

body[dark=true] .btn-link:hover {
      color: var(--color-secundario-dark);
}

body[dark=true] .custom-checkbox .custom-control-input:checked~.custom-control-label::before {      
      background-color: var(--color-fondo-dark-3);
}

body[dark=true] .custom-control-input:checked ~ .custom-control-label::before {
      border: 1px solid var(--color-text-dark);
}

body[dark=true] #configuracion-curso #unidades .unidad .content {
      background-color:var(--color-fondo-dark-2);  
      border: none; 
      box-shadow: var(--sombra-dark-1);
}

body[dark=true] #configuracion-curso #unidades .numUnidad {
      color: var(--color-text-dark);
}

body[dark=true] #configuracion-curso #unidades .eliminar-unidad, 
body[dark=true] #configuracion-curso #unidades .eliminar-apartado {
      color: var(--color-primario-dark);
}

body[dark=true] .content-select .btn-select,
body[dark=true] .content-select .collapse .card {
      background-color:var(--color-fondo-dark-3);
      color: var(--color-text-dark);
      border: none; 
      box-shadow:var(--sombra-dark-1);
}

body[dark=true] .content-select .collapse .card .element:hover {
      color: var(--color-fondo-dark-1);
}

body[dark=true] #configuracion-curso .menu {
      color: var(--color-text-dark);
      background-color:var(--color-fondo-dark-2);
      border: 2px solidvar(--color-fondo-dark-3);      
}

body[dark=true] #configuracion-curso .menu label {
      color: var(--color-text-dark);
}

body[dark=true] .btn-primary,
body[dark=true] #configuracion-curso .menu .btn.active {
      background-color: var(--color-primario-dark);      
      color: var(--color-text-secundario-dark);  
}

body[dark=true] .btn-primary:hover,
body[dark=true] #configuracion-curso .menu .btn.active:hover {
      background-color: var(--color-secundario-dark);
}

body[dark=true] .btn-outline-primary {
      border-color: var(--color-primario-dark);     
      color: var(--color-primario-dark);     
}

body[dark=true] .btn-outline-primary:hover {
      background-color: var(--color-primario-dark);     
      color: var(--color-text-secundario-dark);    
}

body[dark=true] .modal-content {
      background-color: var(--color-fondo-dark-1);      
      border: 1px solid var(--color-text-dark);
}

body[dark=true] .modal-content .modal-header {
      border-bottom: 1px solid var(--color-fondo-dark-3);
}

body[dark=true] .modal-content .modal-header .close {
      color: var(--color-text-dark);
}

body[dark=true] .modal-backdrop.show {
      opacity: 0.7;
}
 