<!-- VENTANA DESCARGAR CUROS -->
<div class="modal fade" id="modal-descargar-curso" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="modal-descargar-curso-Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title">Descargar curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar ventana">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                        <div class="text-center">
                              <a href="/descargarCurso" class="btn btn-primary" id="descargar-curso"><i class="fas fa-folder-open"></i> Descargar curso</a>
                              <a href="/descargarConfig" class="btn btn-link"><i class="fas fa-cogs"></i> Descargar fichero de configuración</a>
                        </div>
                  </div>
            </div>
      </div>
</div>

<!-- VENTANA DESCARGAR PAQUETES SCORMS -->
<div class="modal fade" id="modal-descargar-scorm" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="modal-descargar-scorm-Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title">Descargar scorm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar ventana">
                              <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body text-center">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <strong>¡Importante!</strong> Si has realizado alguna modificación en la configuración sin generar el curso, los cambios realizados no estarán reflejados en el paquete SCORM.                              
                        </div>                        
                        <ul></ul>
                  </div>
            </div>
      </div>
</div>